* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(65deg, #4CD7D0, #F9BDC0);
}

.form-container {
  background-color: #EFF1DB;
  padding: 2rem;
  border-radius: 4px;
  width: 70%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  margin: 1rem;
  height: 30px;
  background-color: inherit;
  border: none;
  border-bottom: black solid 1px;
  font-size: 15px;
}

input::placeholder {
  color: black;
  font-size: 15px;
}

input:focus {
  outline: none;
}

button {
  padding: 0.75rem 1.5rem;
  width: 20%;
  border: none;
  border-radius: 4px;
  background-color: #BD97CB;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}