.container {
	position: relative;
}

span {
	position: absolute;
	color: #fff;
	top: 40px;
	left: 200px;
	padding: 5px;
	background-color: rgba(113, 45, 192, 0.561);
}

header {
	width: 100%;
	background-color: lightgrey;
	margin-top: 1rem;
	padding: 1rem;
	position: fixed;
}
