.position-container {
	position: relative;
	left: 100px;
}

.inbetween-position-container {
	position: fixed;
	bottom: 50px;
	left: 300px;
}

.second-position-container {
	position: absolute;
	bottom: -600px;
}
