* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Bebas Neue", cursive;
}

.day {
	background: url("./assets/daytime.png") center center/cover;
}

.night {
	background: url("./assets/nighttime.png") center center/cover;
}

h1 {
	margin-bottom: 2rem;
	font-size: 3.2rem;
}

p {
	font-size: 25px;
}

.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.card {
	padding: 4rem;
	border-radius: 10px;
	width: 50vw;
}

.card-1 {
	background: #fff;
	position: relative;
	z-index: 1;
	top: 4rem;
	text-align: center;
}

.card-2 {
	color: azure;
	background: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	margin-top: 2rem;
}

.zip {
	border: none;
	border-bottom: black solid 1px;
	height: 2.5rem;
	width: 100%;
	font-size: 25px;
	background: #fff;
}

.zip:focus {
	outline: none;
	background: #fff;
}

.btn {
	width: 100%;
	padding: 0.8rem 0;
	font-size: 22px;
	background: #feb06a;
	border: none;
	border-radius: 5px;
	margin-top: 1rem;
}

.btn:hover {
	cursor: pointer;
}

.btn:focus {
	outline: none;
}

.temp {
	font-size: 3.2rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 1.5rem;
}

img {
	width: 120px;
	margin-left: 2.5rem;
}

@media (max-width: 700px) {
	h1 {
		font-size: 25px;
		margin-bottom: 0.5rem;
	}

	.card {
		height: 310px;
		width: 250px;
	}

	.zip {
		font-size: 15px;
	}

	.btn {
		font-size: 15px;
	}

	.grid {
		display: block;
		padding-bottom: rem;
	}

	.temp {
		font-size: 22px;
	}

	.img {
		width: 10px;
		height: 10px;
		text-align: center;
	}
}

@media (min-width: 1224px) {
	h1 {
		font-size: 4rem;
	}

	p {
		font-size: 30px;
	}

	.card {
		width: 60vw;
	}

	.card-2 {
		text-align: center;
	}

	.zip {
		font-size: 33px;
		height: 45px;
	}

	.btn {
		font-size: 28px;
	}

	.temp {
		font-size: 4.5rem;
	}

	img {
		width: 150px;
	}
}
